<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chengjubackend.demos.mybatis.mapper.CollectDOMapper">
    <resultMap id="Collect" type="com.example.chengjubackend.demos.mybatis.entity.CollectDO">
        <id column="id" property="id" />
        <id column="event_id" property="eventId" />
        <id column="user_id" property="userId" />
    </resultMap>

    <resultMap id="Event" type="com.example.chengjubackend.demos.mybatis.entity.EventDO">
        <id column="event_id" property="eventId" />
        <id column="event_name" property="eventName" />
        <id column="event_addr" property="eventAddr" />
        <id column="event_time" property="eventTime" />
        <id column="event_des" property="eventDes" />
        <id column="user_id" property="userId" />
    </resultMap>

    <resultMap id="User" type="com.example.chengjubackend.demos.mybatis.entity.UserDO">
        <id column="user_id" property="userId" />
        <id column="password" property="password" />
        <id column="user_name" property="userName" />
        <id column="user_birth" property="userBirth" />
        <id column="user_phone" property="userPhone" />
    </resultMap>

    <select id="getCollectedEvents" parameterType="int" resultMap="Event">
        select e.event_name, e.event_time, e.event_addr
        from event_info as e join collect as c
        on e.event_id = c.event_id
        where c.user_id = #{userId}
    </select>

    <select id="getCollectedByEventID" parameterType="int" resultMap="User">
        select u.user_name, u.user_phone
        from user_info as u join collect as c on u.user_id = c.user_id
        where c.event_id = #{eventId}
    </select>

    <insert id="insertCollect" parameterType="com.example.chengjubackend.demos.mybatis.entity.CollectDO" useGeneratedKeys="true" keyProperty="id">
        insert into collect(event_id, user_id)
        values (#{eventId}, #{userId})
    </insert>

    <delete id="deleteCollected">
        delete from collect
        where user_id = #{userId} and event_id = #{eventId}
    </delete>

    <delete id="deleteCascadeCollected">
        delete from collect
        where event_id = #{eventId}
    </delete>

</mapper>