<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chengjubackend.demos.mybatis.mapper.LoginUserMapper">
    <resultMap id="LoginUser_1" type="com.example.chengjubackend.demos.mybatis.entity.LoginUser">
        <id column="user_id" property="userId" />
        <id column="password" property="password" />
        <id column="role" property="ROLE" />
    </resultMap>

    <sql id="Base_User_List">
        user_id, password, role
    </sql>

    <select id="login" resultMap="LoginUser_1">
        select
        <include refid="Base_User_List" />
        from users
        where user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.example.chengjubackend.demos.mybatis.entity.LoginUser">
        insert into users(user_id, password, role)
        values
            (#{userId}, #{password}, #{ROLE})
    </insert>

    <update id="update" parameterType="com.example.chengjubackend.demos.mybatis.entity.LoginUser">
        UPDATE users
        set user_name=#{userName}, password=#{password}, role=#{ROLE}
        where user_id=#{userId}
    </update>

    <delete id="delete" >
        DELETE from users where user_id = #{userId}
    </delete>
</mapper>
